{
	"root_node_ips": [
{% for ip in gossip_config.ip %}{"Ip": "{{ ip }}"}{% if not loop.last %},{% endif %}{% endfor %}
	],
	"try_new_peers": {% if gossip_config.try_new_peers == 'true' %}true,{% else %}false,{% endif %}
	"chain": "{{ chain }}"
}
