- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages to the latest version
  ansible.builtin.apt:
    upgrade: dist

- name: Install necessary packages
  ansible.builtin.apt:
    name:
      - git
      - curl
      - vim
      - gpg
    state: present

- name: Set sysctl parameters to disable IPv6
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: "1"
    state: "present"
    reload: "yes"
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6


- name: Open ports 
  shell: > 
    ufw allow {{ item }}
  loop:
    - '4001'
    - '4002'
